@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles for React Quill */
.ql-editor {
    min-height: 200px;
    /* Set a minimum height for the editor */
}

.ql-toolbar {
    border: 1px solid #e5e7eb;
    /* Tailwind's gray-300 */
    border-radius: 0.375rem;
    /* Tailwind's rounded-md */
}

.ql-toolbar.ql-snow {
    background: white;
    /* Background for the toolbar */
}

.ql-container.ql-snow {
    border: 1px solid #e5e7eb;
    /* Tailwind's gray-300 */
}

.ql-editor h1 {
    @apply text-xl font-bold;
    /* Tailwind's text-xl and font-bold */
}

.ql-editor p {
    @apply text-base;
    /* Tailwind's text-base */
}